.window-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.window {
  background: #f4f4f4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  animation: windowOpen 0.2s ease-out;
}

.window-normal {
  width: 500px;
  height: 400px;
}

.window-large {
  width: 1000px;
  height: 660px;
}

.window-maximized {
  width: 95vw;
  height: 95vh;
}


.window-header {
  background: linear-gradient(to right, #d16ba5, #86a8e7);
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  color: white;
  font-weight: bold;
}

.window-controls {
  display: flex;
  gap: 6px;
}

.control-btn {
  background: white;
  border: none;
  width: 26px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
}

.control-btn:hover {
  background: #ddd;
}

.control-btn.close:hover {
  background: #ff4d4d;
  color: white;
}

.minimize {
    background: #9bdc8c;
}

.maximize {
    background: #f4e37d;
}

.close {
    background: #f06c6c;
}

.locked {
  background-color: #2ecc71;
}

.window-content {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
}

.window-minimized {
  height: auto !important;
}

.window-minimized .window-content {
  display: none;
}


@keyframes windowOpen {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* -------- THEMES FOR WINDOWS -------- */

/* Default */

.theme-default .window-header {
  background: linear-gradient(to right,#d16ba5,#86a8e7);
}

.theme-default .window {
  background: #f4f4f4;
  color: #111;
}

/* Dark */

.theme-dark .window {
  background: #111827;
  color: #e5e7eb;
}

.theme-dark .window-header {
  background: #1f2937;
}

/* Neon */

.theme-neon .window {
  background: #020617;
  color: #00ffff;
  box-shadow: 0 0 20px #00ffff44;
}

.theme-neon .window-header {
  background: #000;
  border-bottom: 1px solid #00ffff;
  color: #00ffff;
}

/* Cyber */

.theme-cyber .window {
  background: #0b0b16;
  color: #ff00ff;
  box-shadow: 0 0 15px #ff00ff44;
}

.theme-cyber .window-header {
  background: linear-gradient(90deg,#000,#1e293b);
  border-bottom: 1px solid #ff00ff;
  color: #ff00ff;
}