.pet{
    position: fixed;
    bottom: 0;

    transform: scale(3);
    transform-origin: bottom left;

    will-change: left, transform;
}

.sprite{
    width:32px;
    height:32px;

    background-image:url("../../assets/Cat Sprite Sheet.png");
    background-repeat:no-repeat;

    image-rendering:pixelated;
}

/* ---------------- IDLE ---------------- */

.pet-idle{
    animation: idle 1s steps(8) infinite;
}

@keyframes idle{
    from{background-position:0 0;}
    to{background-position:-256px 0;}
}

/* ---------------- IDLE 2 ---------------- */

.pet-idle2{
    animation: idle2 1s steps(8) infinite;
}

@keyframes idle2{
    from{background-position:0 -32px;}
    to{background-position:-256px -32px;}
}

/* ---------------- STAND ---------------- */

.pet-stand{
    animation: stand 1s steps(8) infinite;
}

@keyframes stand{
    from{background-position:0 -64px;}
    to{background-position:-256px -64px;}
}

/* ---------------- ALERT ---------------- */

.pet-alert{
    animation: alert 1s steps(8) infinite;
}

@keyframes alert{
    from{background-position:0 -96px;}
    to{background-position:-256px -96px;}
}

/* ---------------- WALK ---------------- */

.pet-walk{
    animation: walk 0.8s steps(8) infinite;
}

@keyframes walk{
    from{background-position:0 -128px;}
    to{background-position:-256px -128px;}
}

/* ---------------- LIE ---------------- */

.pet-lie{
    animation: lie 1s steps(8) infinite;
}

@keyframes lie{
    from{background-position:0 -160px;}
    to{background-position:-256px -160px;}
}

/* ---------------- SIT ---------------- */

.pet-sit{
    animation: sit 1s steps(8) infinite;
}

@keyframes sit{
    from{background-position:0 -192px;}
    to{background-position:-256px -192px;}
    }

/* ---------------- SLEEP ---------------- */

.pet-sleep{
    animation: sleep 1.2s steps(8) infinite;
}

@keyframes sleep{
    from{background-position:0 -224px;}
    to{background-position:-256px -224px;}
}

/* ---------------- JUMP ---------------- */

.pet-jump{
    animation: jump 0.6s steps(8);
}

@keyframes jump{
    from{background-position:0 -256px;}
    to{background-position:-256px -256px;}
    }

/* ---------------- STRETCH ---------------- */

.pet-stretch{
    animation: stretch 1s steps(8) infinite;
}

@keyframes stretch{
    from{background-position:0 -288px;}
    to{background-position:-256px -288px;}
}

/* ---------------- DIREÇÃO ---------------- */

.flip{
transform:scale(3) scaleX(-1);
}