.curriculum-container {
    display: flex;
    gap: 25px;
    padding: 30px;
    background: #f6a5b8;
    border-radius: 15px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.right-panel {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px
}

.photo-card {
    padding: 5px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 0px ;
}

.profile-photo {
    width: 300px;
    border-radius: 15px;
}

.bio-card {
    background: #f4f2c9;
    padding: 20px;
    border-radius: 20px ;
}

.education-card {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 20px;
}

.languages-card {
    background: #e7e1f2;
    padding: 15px;
    border-radius: 20px;
}

.language-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #e4e4e4;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 0;
    border-radius: 20px;
    background:linear-gradient(90deg, #d16ba5, #86a8e7);
    animation: growBar 1.5s ease forwards;
}

.fill-100 {width: 100%;}
.fill-70 {width: 70%;}
.fill-60 {width: 60%;}

h2, h3 {
    margin-bottom: 15px;
}

.bio-card:hover,
.education-card:hover,
.languages-card:hover {
  transform: translateY(-5px);
  transition: 0.2s;
}

.languages-card h3,
.bio-card h2,
.education-card h2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.education-item strong {
  display: flex;
  align-items: center;
  gap: 6px;
}
.languages-card svg,
.bio-card svg,
.education-card svg {
  opacity: 0.8;
}

@keyframes growBar {
    from {
        width: 0;
    }
}

